<form action="/cadastrarCategoria" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome" value="{{categoria.nome}}">
    <input type="text" name="id_categoria_pai" value="{{categoria.id_categoria_pai}}">
    <button type="submit">Cadastrar</button>
</form>