<h1>Editoras Cadastradas</h1>
{{#if resp.length}}
    <ul>
        {{#each resp}}
        <li>
            <h2>{{nome_editora}}</h2>
        </li>
        {{/each}}
    </ul>
{{else}}
    <p>Não há editoras cadastradas.</p>
{{/if}}